<patient-information
  [patientInfo]="patient"
  [options]="patientOpts"></patient-information>

<patient-information
  [patientInfo]="physician"
  [options]="physicianOpts"></patient-information>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Prescription List</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Dosage</th>
      <th>Refill(Y/N)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of prescriptions; let i=index">
      <td>{{p.name}}</td>
      <td>{{p.dosage}}</td>
      <td>{{p.refill}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Doctor Visit List</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Physician Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of visitations; let i=index">
      <td>{{p.date}}</td>
      <td>{{p.doctor}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Invoices</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Due Date</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of invoices; let i=index">
      <td>{{p.dueDate}}</td>
      <td>{{p.amount}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Invoices</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Test</th>
      <th>Result</th>
      <th>Level</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of labResults; let i=index">
      <td>{{p.test}}</td>
      <td>{{p.result}}</td>
      <td>{{p.level}}</td>
    </tr>
    </tbody>
  </table>
</div>

