<div *ngFor="let patient of patients; let i=index" class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Example</h3></div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left"><a href="#"> <img alt="64x64" class="media-object"
                                                [src]="patient.imageUrl"
                                                data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{patient.lastName}}</h4>
        {{patient.firstName}}
        <button (click)="onPatient(patient)" type="button" class="btn btn-default btn-sm _button-5">DETAILS</button>

      </div>
    </div>
  </div>
</div>
